body{
	background: url("priroda.jpg") no-repeat;/*встааить картинку+ растягиваем на всю страницу*/
	background-size: 100%;
	color: #B09797;	
}
.menu li /* размер таблички*/
{
float: left;
list-style: none;
margin: 10px 25px ;
}
.blok-menu /*цвет таблички и тень*/
{
	overflow: hidden;
	background: #33A83D;
	box-shadow: 0px 13px 17px -6px #000000;
	opacity: 0.7;
}
.menu
{
	margin: 0 auto;
	display: table;
}
.menu li a /*размер текста*/
{
font: 14px verdana,Arial,helvetica,sans-serif;
color: #111111;
text-decoration: none;
font-weight: bold;
}
.menu li a:hover /*размер текста при нажатии на текст*/
{
	font: 14px verdana,Arial,helvetica,sans-serif;
	color: #ccc;
	border-bottom: 1px dotted #ccc;
}
/*создаем верхний бар*/
* { box-sizing: border-box;
} 
body { 
margin: 0; 
background: ; 

} 
/*бар*/
header { 
background: #38BA35; 
text-align: center; 
opacity: 0.7;
} 
header a { 
text-decoration: none; 
outline: none; 
display: block; 
transition: .3s ease-in-out; 
} 
/*логотип*/
.logo { 
color: #0B0B0B; 
font-family: 'Playfair Display', serif; 
font-size: 2.5em; 
padding: 20px 0;
} 
nav { 
display: table;
 margin: 0 auto; 
 } 
 nav ul { 
 list-style: none;
  margin: 0; 
  padding: 0; 
  } 
  .topmenu:after { 
  content: ""; 
  display: table; 
  clear: both; 
  } 
  .topmenu > li { 
  width: 25%; 
  float: left; 
  position: relative; 
  font-family: 'Open Sans', sans-serif; 
  } 
  /*текмт цвета бара*/
  .topmenu > li > a { 
  text-transform: uppercase; 
  font-size: 14px; 
  font-weight: bold; 
  color: #404040; 
  padding: 15px 30px; 
  } 
  /*изменение цвета текста при нажатии*/
.topmenu li a:hover { 
  color: #F12020; 
  } 
.submenu-link:after { 
  content: "\f107"; 
  font-family: "FontAwesome"; 
  color: inherit;
  margin-left: 10px;
  } 
   /*выпадающие меню*/
.submenu { 
  background: #38BA35; 
  position: absolute; 
  left: 0; 
  top: 100%; 
  z-index: 5; 
  width: 180px; 
  opacity: 0; 
  transform: scaleY(0); 
  transform-origin: 0 0; 
  transition: .5s ease-in-out; 
  } 
  /*выпадающие меню*/
.submenu a {
   color: #030303; 
   text-align: left; 
   padding: 12px 15px; 
   font-size: 13px; 
   border-bottom: 1px solid rgba(255,255,255,.1);
   font-weight: bold;
   } 
  .submenu li:last-child a { 
  border-bottom: none;
  } 
  /*выпадающие меню*/
  .topmenu > li:hover 
  .submenu { 
  opacity: 0.7; 
  transform: scaleY(1);
  }
  /*текст природа*/
  .textpriroda{
  	background:#FFFFFF;
  	color: #070707;
  	font-weight: bold;
  	opacity:0.5;
  }
  /*заголовок летом хорошо*/
  .zagolovok{
  	color:#22B934;
  }
  
