.menu li /* размер таблички*/
{
float: left;
list-style: none;
margin: 10px 25px;
}
.blok-menu /*цвет таблички и тень*/
{
	overflow: hidden;
	background: #FBEFD0;
	box-shadow: 0px 13px 17px -6px #000000;/*тень*/
	opacity: 0.7;
  position: fixed;
  width: 100%;;
  bottom: 0px;
}
.menu
{
	margin: 0 auto;
	display: table;
}
.menu li a /*размер текста*/
{
font: 14px verdana,Arial,helvetica,sans-serif;
color: #121111;
text-decoration: none;
}
.menu li a:hover /*размер текста при нажатии на текст*/
{
	font: 14px verdana,Arial,helvetica,sans-serif;
	color: #ccc;
	border-bottom: 1px dotted #ccc;
}
/*создаем верхний бар*/
* { box-sizing: border-box;
} 
body { 
margin: 0;
background-image: url(csssertificate.jpg);
background-size: 30px 20px;/*размер узора*/
padding: 0;
} 
header { 
background: #FBEFD0; 
text-align: center; 
opacity: 0.7;/*прозрачность*/
box-shadow: 0px 13px 17px -6px #000000;/*тень*/
} 
header a { 
text-decoration: none; 
outline: none; 
display: block; 
transition: .3s ease-in-out; 
} 
.logo { 
color: #D5B45B; 
font-family: 'Playfair Display', serif; 
font-size: 2.5em; 
padding: 20px 0; 
} 
nav { 
display: table;
 margin: 0 auto; 
 } 
 nav ul { 
 list-style: none;
  margin: 0; 
  padding: 0; 
  } 
  .topmenu:after { 
  content: ""; 
  display: table; 
  clear: both; 
  } 
  .topmenu > li { 
  width: 25%; 
  float: left; 
  position: relative; 
  font-family: 'Open Sans', sans-serif; } 
  .topmenu > li > a { 
  text-transform: uppercase; 
  font-size: 14px; 
  font-weight: bold; 
  color: #404040; 
  padding: 15px 30px; 
  } 
.topmenu li a:hover { 
  color: #D5B45B; 
  } 
.submenu-link:after { 
  content: "\f107"; 
  font-family: "FontAwesome"; 
  color: inherit;
  margin-left: 10px;
  } 
.submenu { 
  background: #FBEFD0; /*цвет меню*/
  position: absolute; 
  left: 0; 
  top: 100%; 
  z-index: 5; 
  width: 180px; 
  opacity: 0.9; 
  transform: scaleY(0); 
  transform-origin: 0 0; 
  transition: .5s ease-in-out; 
  box-shadow: 0px 13px 17px -6px #000000;
  } 
.submenu a {
   color: #0C0B0B; 
   text-align: left; 
   padding: 12px 15px; 
   font-size: 14px; 
   border-bottom: 1px solid rgba(255,255,255,.1);
   font-weight: bold;
   } 
  .submenu li:last-child a { 
  border-bottom: none;
  } 
  .topmenu > li:hover 
  .submenu { 
  opacity: 1; 
  transform: scaleY(1);
  }

  .description {
    min-width: 250px !important;
  }